.-slightly-down {
    padding-top: 10px;
}

.-btn-spacing {
    padding: 5px;
}

.-bigname-spacing {
    padding: 20px;
}

.-larger-text {
    font-size: 18px;
}

.-calendar-item {
    margin-bottom: 10px;
}